[submodule "bundle/Vundle.vim"]
	path = bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/vim-syntastic/syntastic
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "bundle/vim-airline-themes"]
	path = bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "bundle/vim-linux-coding-style"]
	path = bundle/vim-linux-coding-style
	url = https://github.com/vivien/vim-linux-coding-style
[submodule "bundle/auto-pairs"]
	path = bundle/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs
[submodule "bundle/vim-hardtime"]
	path = bundle/vim-hardtime
	url = https://github.com/takac/vim-hardtime
[submodule "extras/vim-theme-papaya"]
	path = extras/vim-theme-papaya
	url = https://github.com/henrynewcomer/vim-theme-papaya
[submodule "bundle/markdown-preview.nvim"]
	path = bundle/markdown-preview.nvim
	url = https://github.com/iamcco/markdown-preview.nvim
[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/preservim/nerdcommenter
[submodule "extras/onedark.vim"]
	path = extras/onedark.vim
	url = https://github.com/joshdick/onedark.vim
[submodule "bundle/rust.vim"]
	path = bundle/rust.vim
	url = https://github.com/rust-lang/rust.vim
[submodule "bundle/vim-racer"]
	path = bundle/vim-racer
	url = https://github.com/racer-rust/vim-racer.git
[submodule "bundle/fzf.vim"]
	path = bundle/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "bundle/fzf"]
	path = bundle/fzf
	url = https://github.com/junegunn/fzf
[submodule "bundle/coc.vim"]
	path = bundle/coc.vim
	url = https://github.com/neoclide/coc.nvim
