[submodule "bundle/Vundle.vim"]
	path = bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/vim-syntastic/syntastic
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "bundle/vim-airline-themes"]
	path = bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "extras/vim-theme-papaya"]
	path = extras/vim-theme-papaya
	url = https://github.com/henrynewcomer/vim-theme-papaya
[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "extras/onedark.vim"]
	path = extras/onedark.vim
	url = https://github.com/joshdick/onedark.vim
[submodule "bundle/vim-go"]
	path = bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "bundle/quck-scope"]
	path = bundle/quck-scope
	url = https://github.com/unblevable/quick-scope
[submodule "extras/gruvbox"]
	path = extras/gruvbox
	url = https://github.com/morhetz/gruvbox
